language: java
sudo: required
services:
  - docker
jdk:
  - oraclejdk8

env:
  - GROUP=microshop COMMIT=$TRAVIS_COMMIT TAG=$TRAVIS_TAG REPO=catalog;

after_success:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`
          push "$REPO:$TAG";
  - export NAME=$GROUP/$REPO

  - docker build -t ${DOCKER_USERNAME}/${REPO} .
  - docker push ${DOCKER_USERNAME}/${REPO}